# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
env/
venv/

# Editors
.vscode/
.idea/

# Data (keep local)
data/
*.xlsx
*.csv

# Secrets
*.env
.env*

# installers
Anaconda3*.sh

# installers
Anaconda3*.sh
